/* later, dont delete */
/* for darkmode, changing color palletes in one place */
:root {
    --accent: #f00;
    --bg: #fff;
    --bg1: #ccc;
    --text: #000;
    --border: #000;
    --table0: #F1D3D3;
    --table1: #F2C8C8;
    --table2: #E26B6B;
    --table3: #CA4F4F;
    --table4: #973B3B;
    --link1: #f00;
    --link2: #f50;
}

:root.dark {
    --accent: #f00;
    --bg: #291f1f;
    /*this? its a bit brown, but idk. its important that it doesnt stand out though. its a background - its not supposed to stand out. its supposed to be calming to the eyes*/
    --bg1: #333;
    /* maybe give it a red tint, already did */
    --text: #fff;
    --border: #fff; 
    --table0: #291515; /*edit later, its hover*/
    --table1: #3b2323;
    --table2: #5a2a2a;
    --table3: #752f2f;
    --table4: #9b3b3b;
    --link1: #f00;
    --link2: #f50;
}
