.outerdivp9 {
    display: flex;
}

.rightdivp9 {
    display: inline;
    flex: 0.75;
    margin-left: auto;
    margin-right: 8px;
    vertical-align: top;
    padding-top: 0px;
    margin-top: 0px;
}

.leftdivp9 {
    display: inline;
    flex: 0.25;
    margin-left: 8px;
    margin-right: auto;
}

.page9Search {
    vertical-align: top;
    text-align: right;
}

.headerp9 {
    margin-top: 0px;
    padding-top: 0px;
}