body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}

.tab-bar {
  display: flex;
  background: #f0f0f0;
  border-top: 1px solid #ccc;
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #ccc;
}


table,
.tab.active {
  border: 1px solid #ff0000;
}
.tab.active {
  background: white;
  font-weight: bold;
  border-top: 2px solid #ff0000;
  border-bottom: 0px solid #ff0000;
}


.page {
  display: none;
}

.page.active {
  display: block;
}

/* WelcomeText */
.WelcomeText {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-color: #f2c8c8;
  
  margin-top: 10vh;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;

  padding: 10px;
}

/* default table */
  /* global table container */
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: black;
  }

  /* global table header */
  th {
    padding: 8px;
    text-align: center;       /* horizontal center */
    vertical-align: middle;   /* vertical center */
    border: 1px solid transparent;
    background-color: #e26b6b; /* header only */
    color: black;
  }

  /* global table cells */
  td {
    padding: 8px;
    text-align: center;       /* horizontal center */
    vertical-align: middle;   /* vertical center */
    border: 1px solid transparent;
    background-color: #f2c8c8; /* inherits table background */
    color: black;
  }

/* page container */
.content, .page {
  background-color: transparent; /* let table background show */
}

/* WelcomeTable */
.WelcomeTable th,
.WelcomeTable td {
  text-align: left;
}
.WelcomeTable tr:hover td {
  background-color: #f1d3d3;
}


/* ConsonantsTable */
.ConsonantsTable {
  width: 50%;
  height: 125px;
}
.ConsonantsTable td:hover  {
  background-color: #f1d3d3;
}

/* VowelTable */
.VowelTable {
  width: 50%;
  height: 125px;
}
/* VowelTable Hover */
.VowelTable td:hover  {
  background-color: #f1d3d3;
}

/* ConsonantsTableWrapper */
.ConsonantsTableWrapper {
  display: flex;
}

.ConsonantsTableText {
  display: inline;
  flex: 1;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-color: #f2c8c8;
  
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 25px;
  margin-right: 2px;

  padding: 10px;
}

/* bold function */
enbolden {
  font-weight: bold;
  font-size: 25px;
}
