/* TableWrapper */
.TableWrapperp1 {
    display: flex;
}


.Leftdivp1 {
    display: inline;
    flex: 1;
}

.rightdivp1 {
    display: inline;
    flex: 0.8;
    margin-left: 25px;
    margin-right: 25px;
}