/* TableWrapper */
.TableWrapper {
    display: flex;
}


.Leftdiv {
    display: inline;
    flex: 1;
}

.rightdiv {
    display: inline;
    flex: 0.8;
    margin-left: 25px;
    margin-right: 25px;
}