/* default table */
/* default table container */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: black;
}

/* default table header */
th {
    padding: 8px;
    text-align: center; /* horizontal center */
    vertical-align: middle; /* vertical center */
    border: 1px solid transparent;
    background-color: #e26b6b;
    color: black;
}

/* default table data cells */
td {
    padding: 8px;
    text-align: center; /* horizontal center */
    vertical-align: middle; /* vertical center */
    border: 1px solid transparent;
    background-color: #f2c8c8;
    color: black;
}