.page {
    display: none;
}

.page.active {
    display: block;
}

.pages,
.page {
    background-color: transparent; /* let table background show */
    margin-bottom: 45px; /* space for nav buttons */
}