.pages {
    flex: 1;
    padding: 20px;
}

.tab-bar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(400px, auto); /* here you edit minimum size */
    justify-content: start;
    background: #f0f0f0;
    border-top: 1px solid #ccc;
    z-index: 99999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    text-wrap: nowrap;
}

.tab {
    width: auto;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #ccc;
    min-width: max-content;
}

.tab.active {
    background: white;
    font-weight: bold;
    border: 1px solid #ff0000;
    border-top: 2px solid #ff0000;
    border-bottom: 0px solid #ff0000;
}